{% extends 'base.html.twig' %}

{% block title %}Authentication{% endblock %}

{% block body %}
    <div id="auth"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    //<![CDATA[
        $(function() {
            ReactDOM.render(
                React.createElement(
                    Auth,
                    {
                        csrfToken: "{{ csrf_token('authenticate') }}",
                        formToken: "{{ csrf_token('login_form') }}"
                    }
                ),
                document.getElementById('auth')
            );
        });
    //]]>
    </script>
{% endblock %}
