{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <nav class="nav nav-pills justify-content-end">
        <span class="nav-item nav-link">Hi <strong>{{ app.user.username }}</strong>!</span>
        <span class="nav-item">
            <a class="nav-link{% if menu == 'projects' %} active{% endif %}" href="{{ url('project_list') }}">Projects</a>
        </span>
        <span class="nav-item">
            <a class="nav-link" href="{{ url('app_logout') }}">Logout</a>
        </span>
    </nav>
{% else %}
    <nav class="nav nav-pills justify-content-end">
        <span class="nav-item">
            <a class="nav-link{% if menu == 'login' %} active{% endif %}" href="{{ url("app_login") }}">Login</a>
        </span>
    </nav>
{% endif %}
