<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Grooming Chimps{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navigation %}{% endblock %}
        <div class="container py-2">
            {% block header %}
                <h1 class="display-4">
                    <a href="{{ path("homepage") }}">Grooming Chimps</a>
                </h1>
                <div class="clearfix">
                    <p class="lead float-left text-muted">Analyses of source code</p>

                    {% include 'include/menu.html.twig' %}
                </div>
            {% endblock %}
        </div>

        <div class="container-fluid bg-dark py-3 text-white-50">
            <div class="container py-4">
                {% block body %}{% endblock %}
            </div>
        </div>

        <footer class="footer py-2 bg-dark-extra">
            <div class="container text-right">
                <span class="text-muted">by <a href="https://www.titomiguelcosta.com/" target="_blank">alpha male</a> &copy; 2019</span>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
