{% extends "base.html.twig" %}

{% block header %}{% endblock %}

{% block body %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Grooming Chimps</h1>
            <p class="lead">This is an experimental project. Only invited users can access it.</p>
            <p class="lead">
                <a href="{{ path('app_login') }}" class="btn btn-lg btn-secondary">Login</a>
            </p>
        </main>
    </div>
{% endblock %}
